<article class="post">
  <div class="title">
    <a href="/post/{{id}}" target="_blank">
        <h2>{{title}}</h2>
    </a>
    <p class="post-p">
        {{post_text}}
    </p>
  </div>
  <div class="meta">
    by {{user.username}} on {{format_date created_at}}
    |
    <a href="/post/{{id}}" class="comment-a">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>